<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppDomainProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css"/>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap-datepicker.min.js"></script>

   
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="navbar-brand" asp-area="" asp-page="/Index">
                <div class="container">
                    <div class="row">
                        <div>
                            <a><img src="~/Images/Logo.PNG" style="margin:0 auto; height:80px" /></a>
                        </div>
                    </div>
                    <div class="row">
                        <ul class="navbar-nav flex-grow-1">
                            <li>
                                <div class="input-group date" data-provide="datepicker">
                                    <input type="text" id="datepicker" class="form-control" value="">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">                                
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index"><img src="~/Images/Home.png" style="margin:0 auto; height:20px" />Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/User/Accounts"><img src="~/Images/Account.png" style="margin:0 auto; height:20px" />Accounts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Dashboard"><img src="~/Images/Dashboard.png" style="margin:0 auto; height:20px" />Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Logout"><img src="~/Images/Logout.png" style="margin:0 auto; height:20px" />Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - AppDomainProject
        </div>
        
    </footer>

    <div align="right" valign="bottom">
        <li class="nav-item">
            <a class="btn btn-danger" title="Click here to get help" asp-area="" asp-page="/HelpPages/Help">Help</a>
        </li>
    </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js">
            $(function () {
                var date = new Date();
                var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
                $('#datepicker').datepicker('setValue', today);
                $('#datepicker').datepicker({
                    orientation: "bottom auto",
                    ignoreReadonly: true,
                    defaultDate: "0d",
                    format: "mm/dd/yyyy",
                    autoclose: true,
                    todayHighlight: true,
                    todayBtn: true,
                });
            });
        </script>

        @RenderSection("Scripts", required: false)

</body>
</html>
