@page
@model AppDomainProject.AccountsHelpModel
@{
    ViewData["Title"] = "AccountsHelp";
}

<div class="text-left">
    <img src="~/Images/Logo.PNG" style="margin:0 auto; width:25%;" />
</div>

<h1 class=" display-4">Accounts Help</h1>

