@page
@model AppDomainProject.Pages.HelpModel
@{
    ViewData["Title"] = "Help page";
}
    <div class="text-left">
        <img src="~/Images/Logo.PNG" style="margin:0 auto; width:25%;" />
    </div>

<a asp-page="./LoginHelp">Login Help</a>
<a asp-page="./LoginHelp">User Creation Help</a>
<a asp-page="./LoginHelp">Accounts Help</a>
