@page
@model AppDomainProject.Pages.HelpPages.LoginHelpModel
@{
}

<div class="text-left">
    <img src="~/Images/Logo.PNG" style="margin:0 auto; width:25%;" />
</div>

<h1 class=" display-4">Login Help</h1>

<b> Forgot Password </b>
<br />
<br />

If a password was forgotten the user can reset their password by clicking on the Forgot Password Button on the home screen.
The user will need to provide the user id and email used for account. After the account has been verified the user will be required to answer
three security questions to change password.
<br />
<br />

<b> Problem logging in with correct password </b>
<br />
<br />

When atempting to log-in to an account check that the username is the same as the one provided at signed up.

If account was recently created allow time for admin to activate account or email admin at appdomtest@gmail.com
<br />
<br />
<a href="/HelpPages/Help">Back </a>