@page
@model AppDomainProject.Pages.HelpPages.LoginHelpModel
@{
}

<div class="text-left">
    <img src="~/Images/Logo.PNG" style="margin:0 auto; width:25%;" />
</div>

<h1 class=" display-4">Login Help</h1>
<div>
     <text class ="display-1">Forgot Password</text>
</div>

<b> Forgot Password </b> <br/> <br/>

If a password was forgotten the user can reset their password by clicking on the Forgot Password Button on the home screen.
The user will need to provide the email used