@page
@model AppDomainProject.UserCreationHelpModel
@{
    ViewData["Title"] = "UserCreationHelp";
}



<h1 class=" display-4">User Creation Help</h1>

<b> Setting up user </b> <br/> <br/>

When setting up a user click "Create New User" button. The page will be directed to an information page where all input fields need to be filled in.
 <br/> <br/>

<b> Problem logging in with correct password </b> <br/> <br/>

When atempting to log-in to an account check that the username is the same as the one provided at signed up.

If account was recently created allow time for admin to activate account or email admin at appdomtest@gmail.com
 <br/> <br/>
       <a href="/HelpPages/Help">Back </a>