@page
@model AppDomainProject.UserCreationHelpModel
@{
    ViewData["Title"] = "UserCreationHelp";
}

<div class="text-left">
    <img src="~/Images/Logo.PNG" style="margin:0 auto; width:25%;" />
</div>

<h1 class=" display-4">User Creation Help</h1>
