@page
@model AppDomainProject.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

    <div class="text-left">
        <img src="~/Images/Logo.PNG" style="margin:0 auto; width:25%;" />
    </div>

<h1>Access Denied</h1>

<p>:(</p>
<div align="right" valign="bottom">
    <input type="submit" value="Help" class="btn btn-danger" asp-page="HelpPages/Help" />
</div>