@page
@model AppDomainProject.Pages.Manager.IndexModel
@{
	ViewData["Title"] = "Dashboard";
}

<h1>Welcome, @Model.Name</h1>
<br />
<img src="~/Images/img_avatar.png" alt="placeholder" width="150" height="150">
<h2>@Model.Username</h2>
<B> Role: Manager </B>

<div class="row">
	<div class="col-6">
		<a asp-page="/Users"><img src="~/Images/Users.png" style="margin:0 auto; height:20px" />User Accounts</a>
		<br />
		<a asp-page="/User/Accounts"><img src="~/Images/Account.png" style="margin:0 auto; height:20px" />Financial Accounts</a>
		<br />
		<a asp-page="/User/Journals"><img src="~/Images/Journal.png" style="margin:0 auto; height:20px" />Journals</a>
		<br />
		<a asp-page="/Manager/TrialBalence"><img src="~/Images/Journal.png" style="margin:0 auto; height:20px" />Trial Balance</a>
		<br />
		<a asp-page="/Manager/IncomeStatement"><img src="~/Images/Journal.png" style="margin:0 auto; height:20px" />Income Statement</a>
		<br />
		<a asp-page="/Manager/BalenceSheet"><img src="~/Images/Journal.png" style="margin:0 auto; height:20px" />Balance Sheet</a>
		<br />
		<a asp-page="/Manager/Retaining_Earnings_Statement"><img src="~/Images/Journal.png" style="margin:0 auto; height:20px" />Retaining Earnings Statement</a>
		<br />
		<a asp-page="/EventLog"><img src="~/Images/Event.png" style="margin:0 auto; height:20px" />View Event Log</a>
		<br />
	</div>
	<div class="col-6">
		<div class="dataBox" style="box-shadow:inset 0px 0px 50px #36bff5; width:auto; padding:3px; border-radius:5px; text-align:center; display:inline-grid; margin:5px;">
			<p>Data of whatever here</p>
		</div>
		<div class="dataBox" style="box-shadow:inset 0px 0px 50px #36bff5; width:auto; padding:3px; border-radius:5px; text-align:center; display:inline-grid; margin:5px;">
			<p>Data of whatever here</p>
		</div>
	</div>

</div>