@page
@model AppDomainProject.Retaining_Earnings_StatementModel
@{
    ViewData["Title"] = "Retaining_Earnings_Statement";
}
@using AppDomainProject.Models;
<h1>Retaining Earnings Statement</h1>
@{ 
    int count = 0;
}
<table class="table">
    @foreach (string i in Model.temp)
    {
        <tr>
            <td>@i</td>
            <td>@Model.array[count]</td>
        </tr>
        count++;
    }
</table>
<form method="post">
    <label>Select Date</label>
    <input asp-for="Date" />
    <input type="submit" value="Run" />
</form>

<form method="post">
    <span style="display:inline-block; padding: 5px; text-align:center;margin-left:12%">
        <span class="form-group">
            <input title="Save Document" type="submit" value="Save" class="btn btn-primary" />
            <input title="Print Document" type="submit" value="Print" class="btn btn-primary" />
        </span>
    </span>
</form>

<a href="./">Back</a>

