@page
@model AppDomainProject.TrialBalenceModel
@{
    ViewData["Title"] = "TrialBalence";
}

<h1>Trial Balence</h1>
<form method="post">
    <label>Start Date</label>
    <input asp-for="TransactionStartDate" />
    <label>End Date</label>
    <input asp-for="TransactionEndDate" />
    <input type="submit" value="Generate"/>
</form>

<br/>
<a href="/Manager">Back</a>