@page
@model AppDomainProject.View_Trial_BalenceModel
@{
    ViewData["Title"] = "View_Trial_Balence";
}

<h1>View Trial Balence</h1>
<table class="table">
    <thead>
        <tr>
            <th>Account Name</th>
            <th>Credit</th>
            <th>Debit</th>
        </tr>
    </thead>
    @{
        int count = 0;
    }
    @foreach (double[] item in Model.complete_list.Values)
    {
        List<string> temp = Model.names;
        <tr>
            <td>@temp[count]</td>
            <td>@item[0]</td>
            <td>@item[1]</td>
        </tr>
        count++;
    }
</table>
<form method="get">
    <div class="form-group">
        <label>Total Credit Balance</label>
        <input title="Total Credit Balance" asp-for="total_credit_balence" disabled />
    </div>
    <div class="form-group">
        <label>Total Debit Balance</label>
        <input  title="Total Debit Balance" asp-for="total_debit_balence" disabled />
    </div>
</form>

<form method="post">
    <label>tSelect Date</label>
    <input title="Select Date" asp-for="Date" />
    <input title="Click to Run" type="submit" value="Run" />
</form>

<form method="post">
    <span style="display:inline-block; padding: 5px; text-align:center;margin-left:12%">
        <span class="form-group">
            <input title="Save Document" type="submit" value="Save" class="btn btn-primary" />
            <input title="Print Document" type="submit" value="Print" class="btn btn-primary" />
        </span>
    </span>
</form>

<a title="Go Back to Dashboard" href="./">Back</a>
