@page
@model AppDomainProject.Pages.Data.UserInfo.CreateModel
@using AppDomainProject.Models;

@{
    ViewData["Title"] = "Create";
}

    <div class="text-left">
        <img src="~/Images/Logo.PNG" style="margin:0 auto; width:25%;" />
    </div>

<h1>Create</h1>

<h4>UserInfoData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserInfoData.ID" class="control-label"></label>
                <input asp-for="UserInfoData.ID" class="form-control" />
                <span asp-validation-for="UserInfoData.ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserInfoData.Email" class="control-label"></label>
                <input asp-for="UserInfoData.Email" class="form-control" />
                <span asp-validation-for="UserInfoData.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserInfoData.Status" class="control-label"></label>
                <select asp-for="UserInfoData.Status" class="form-control"asp-items="Html.GetEnumSelectList<AccountStatus>()"></select>
                <span asp-validation-for="UserInfoData.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserInfoData.Class" class="control-label"></label>
                <select asp-for="UserInfoData.Class" class="form-control"asp-items="Html.GetEnumSelectList<AccountType>()"></select>
                <span asp-validation-for="UserInfoData.Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserInfoData.PasswordSetDate" class="control-label"></label>
                <input asp-for="UserInfoData.PasswordSetDate" class="form-control" />
                <span asp-validation-for="UserInfoData.PasswordSetDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserInfoData.PasswordExpirationDate" class="control-label"></label>
                <input asp-for="UserInfoData.PasswordExpirationDate" class="form-control" />
                <span asp-validation-for="UserInfoData.PasswordExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
