@page "{acct}"
@model AppDomainProject.EditAccountModel
@{
    ViewData["Title"] = "Edit Account";
}
@using AppDomainProject.Models;

<h1>Edit Account</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Account.AccountName"></label>
        <input asp-for="Account.AccountName" />
    </div>

    <div class="form-group">
        <label asp-for="Account.AccountDescription"></label>
        <input asp-for="Account.AccountDescription" />
    </div>

    <div class="form-group">
        <label asp-for="Account.AccountCategory"></label>
        <input asp-for="Account.AccountCategory" />
    </div>

    <div class="form-group">
        <label asp-for="Account.AccountSubCategory"></label>
        <input asp-for="Account.AccountSubCategory" />
    </div>

    <div class="form-group">
        <label asp-for="Account.InitialBalance"></label>
        <input asp-for="Account.InitialBalance" />
    </div>

    <div class="form-group">
        <label asp-for="Account.Order"></label>
        <input asp-for="Account.Order" />
    </div>

    <div class="form-group">
        <label asp-for="Account.Statement"></label>
        <select asp-for="Account.Statement" asp-items="Html.GetEnumSelectList<AccountData.AccountStatement>()"></select>
    </div>

    <div class="form-group">
        <label asp-for="Account.NormalSide"></label> <br />
        <input type="radio" asp-for="Side" value="@Model.Sides[0]"  />@Model.Sides[0]<br />
        <input type="radio" asp-for="Side" value="@Model.Sides[1]" />@Model.Sides[1]<br />
    </div>

    <input type="submit" value="Save" />

    <input type="submit" value="Deactivate" asp-page-handler="Deactivate" />

    <div>
        <input hidden asp-for="Account.Balance" />
        <input hidden asp-for="Account.Credit" />
        <input hidden asp-for="Account.Debit" />
        <input hidden asp-for="Account.ID" />
        <input hidden asp-for="Account.TimeAccountAdded" />
        <input hidden asp-for="Account.Comment" />
        <input hidden asp-for="Account.NormalSide" />
        <input hidden asp-for="Account.AccountNumber" />
        <input hidden asp-for="Account.Active" />
    </div>
</form>


<div align="right" valign="bottom">
    <input type="submit" value="Help" class="btn btn-danger" asp-page="HelpPages/Help" />
</div>