@page
@model AppDomainProject.Pages.Admin.IndexModel
@{
	ViewData["Title"] = "Dashboard";
}



<h1>Welcome, @Model.Name</h1>
<h2>@Model.Username</h2>

<a asp-page="./Users"><img src="~/Images/Users.png" style="margin:0 auto; height:20px" />Manage Users</a>
<br />
<a asp-page="./NewAccount"><img src="~/Images/NewAccount.png" style="margin:0 auto; height:20px" />Create New Financial Account</a>
<br />
<a asp-page="/User/Accounts"><img src="~/Images/Account.png" style="margin:0 auto; height:20px" />Financial Accounts</a>
<br />
<a asp-page="/User/Journals"><img src="~/Images/Journal.png" style="margin:0 auto; height:20px" />Journals</a>
<br />
<a asp-page="/EventLog"><img src="~/Images/Event.png" style="margin:0 auto; height:20px" />View Event Log</a>
<br />


