@page
@model AppDomainProject.Pages.Admin.IndexModel
@{
	ViewData["Title"] = "Dashboard";
}

	<div class="text-left">
		<img src="~/Images/Logo.PNG" style="margin:0 auto; width:25%;" />
	</div>

<h1>Welcome, @Model.Name</h1>
<h2>@Model.Username</h2>

<a asp-page="./Users">Manage Users</a> <br />
<a asp-page="/User/Accounts">Accounts</a> <br />
<a asp-page="./NewAccount">Create New Account</a> <br />
<div align="right" valign="bottom">
				<input type="submit" value="Help" class="btn btn-danger" asp-page="HelpPages/Help" />
			</div>