@page
@model AppDomainProject.AccountsModel
@using AppDomainProject.Models
@{
    ViewData["Title"] = "Accounts";
}

<h1>Accounts</h1>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Account Number</th>
            <th>Account Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    @foreach(AccountData a in Model.Accounts)
	{
        <tr>
            <td>@Html.DisplayFor(modelItem => a.AccountNumber)</td>
            <td>@Html.DisplayFor(modelItem => a.AccountName)</td>
            <td>@Html.DisplayFor(modelItem => a.AccountDescription)</td>
            <td>
                <form method="post">
                    <input type="submit" value="View" asp-route-acct=@(a.AccountNumber)/>
                </form>
            </td>
        </tr>
	}
</table>
<div align="right" valign="bottom">
    <input type="submit" value="Help" class="btn btn-danger" asp-page="HelpPages/Help" />
</div>