@page
@model AppDomainProject.AccountsModel
@using AppDomainProject.Models
@{
    ViewData["Title"] = "Financial Accounts";
}

<h1><img src="~/Images/Account.png" style="margin:0 auto;" />Financial Accounts</h1>
<form asp-action="Search" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" />
            <input title=" Click to  bein search" type="submit" value="Search" class="btn btn-primary" />
            <a title="Go Back to Full List" asp-action="Accounts">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Account Number</th>
            <th>Account Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach(AccountData a in Model.Accounts)
	{
        <tr>
            <td>@Html.DisplayFor(modelItem => a.AccountNumber)</td>
            <td>@Html.DisplayFor(modelItem => a.AccountName)</td>
            <td>@Html.DisplayFor(modelItem => a.AccountDescription)</td>
            <td>
                <form method="post">
                    <input title="Click to View Account Info" type="submit" value="View" asp-route-acct=@(a.AccountNumber)/>
                </form>
            </td>
        </tr>
	}
    </tbody>
</table>

<br />
<a title=" Go back to Dashboard" href="/Dashboard">Back </a>