@page
@model AppDomainProject.Pages.User.IndexModel
@{
	ViewData["Title"] = "Dashboard";
}

<h1>Welcome, @Model.Name</h1>
<h2>@Model.Username</h2>

<a asp-page="/User/Accounts">Financial Accounts</a>
<br />
<a asp-page="/User/Journals">Journals</a>
<br />
