@page
@model AppDomainProject.JournalErrModel
@{
    ViewData["Title"] = "Error";
}

<h1>Journal not balanced!</h1>
<p class="alert-danger">Total Debits: @Model.Debits | Total Credits: @Model.Credits</p>
<a href="./Journal?journal=@Model.Journal">Back</a>
