@page
@model AppDomainProject.JournalsModel
@{
    ViewData["Title"] = "Journals";
}

<h1><img src="~/Images/Journal.png" style="margin:0 auto;" />Journals</h1>
<form asp-action="Search" method="get">
<div class="form-actions no-color">
    <p>
        Find by name: <input type="text" name="SearchString" />
        <input type="submit" value="Search"title="Click to Begin Searching " class="btn btn-primary" />
        <a  title="Go Back to Full List "asp-action="Journals">Back to Full List </a>
    </p>
</div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Journal</th>
            <th>Author</th>
            <th></th>
        </tr>
    </thead>
    @foreach (JournalsModel.TableRow j in Model.Journals)
    {
        <tr>
            <td>
                @j.Journal
            </td>
            <td>
                @j.Author
            </td>
            <td>
                <a href="./ViewJournal/@j.Journal">view</a>
            </td>
        </tr>
    }

</table>

<a title="Go to a Pending  Journal" asp-page="./PendingJournals">Pending </a>
<br />
<a title="Create a New Journal" asp-page="./Journal">New Journal </a>
<br />
<a title=" Go back to Dashboard"href="/Index">Back </a>
