@page
@model AppDomainProject.JournalsModel
@{
    ViewData["Title"] = "Journals";
}

<h1>Journals</h1>
<form asp-action="Search" method="get">
<div class="form-actions no-color">
    <p>
        Find by name: <input type="text" name="SearchString" />
        <input type="submit" value="Search" class="btn btn-primary" />
        <a asp-action="Journals">Back to Full List</a>
    </p>
</div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Journal</th>
            <th>Author</th>
            <th></th>
        </tr>
    </thead>
    @foreach (JournalsModel.TableRow j in Model.Journals)
    {
        <tr>
            <td>
                @j.Journal
            </td>
            <td>
                @j.Author
            </td>
            <td>
                <a href="./ViewJournal/@j.Journal">view</a>
            </td>
        </tr>
    }
</table>

<a asp-page="./PendingJournals">Pending</a>
<br />
<a asp-page="./Journal">New Journal</a>