@page
@model AppDomainProject.EditModel

@{
    ViewData["Title"] = "Edit";
}

    <div class="text-left">
        <img src="~/Images/Logo.PNG" style="margin:0 auto; width:25%;" />
    </div>
<h1>Edit</h1>

<h4>AccountData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AccountData.AccountNumber" />
            <div class="form-group">
                <label asp-for="AccountData.AccountName" class="control-label"></label>
                <input asp-for="AccountData.AccountName" class="form-control" />
                <span asp-validation-for="AccountData.AccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountData.AccountDescription" class="control-label"></label>
                <input asp-for="AccountData.AccountDescription" class="form-control" />
                <span asp-validation-for="AccountData.AccountDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountData.NormalSide" class="control-label"></label>
                <input asp-for="AccountData.NormalSide" class="form-control" />
                <span asp-validation-for="AccountData.NormalSide" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountData.AccountCategory" class="control-label"></label>
                <input asp-for="AccountData.AccountCategory" class="form-control" />
                <span asp-validation-for="AccountData.AccountCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountData.AccountSubCategory" class="control-label"></label>
                <input asp-for="AccountData.AccountSubCategory" class="form-control" />
                <span asp-validation-for="AccountData.AccountSubCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountData.InitialBalance" class="control-label"></label>
                <input asp-for="AccountData.InitialBalance" class="form-control" />
                <span asp-validation-for="AccountData.InitialBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountData.Debit" class="control-label"></label>
                <input asp-for="AccountData.Debit" class="form-control" />
                <span asp-validation-for="AccountData.Debit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountData.Credit" class="control-label"></label>
                <input asp-for="AccountData.Credit" class="form-control" />
                <span asp-validation-for="AccountData.Credit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountData.Balance" class="control-label"></label>
                <input asp-for="AccountData.Balance" class="form-control" />
                <span asp-validation-for="AccountData.Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountData.TimeAccountAdded" class="control-label"></label>
                <input asp-for="AccountData.TimeAccountAdded" class="form-control" />
                <span asp-validation-for="AccountData.TimeAccountAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountData.ID" class="control-label"></label>
                <input asp-for="AccountData.ID" class="form-control" />
                <span asp-validation-for="AccountData.ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountData.Order" class="control-label"></label>
                <input asp-for="AccountData.Order" class="form-control" />
                <span asp-validation-for="AccountData.Order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountData.Statement" class="control-label"></label>
                <select asp-for="AccountData.Statement" class="form-control"></select>
                <span asp-validation-for="AccountData.Statement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountData.Comment" class="control-label"></label>
                <input asp-for="AccountData.Comment" class="form-control" />
                <span asp-validation-for="AccountData.Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
