@page
@model AppDomainProject.ShowAccountsPendingModel
@using AppDomainProject.Models
@{
	ViewData["Title"] = "Users Accounts";
}
<div class="text-center">
	<h1 class="display-4">Lists of Accounts Status</h1>
	
		<table class="table">
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.UserInfoData[0].ID)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.UserInfoData[0].Status)
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.UserInfoData)
				{
					if (item.Status.Equals(AccountStatus.Pending))
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.ID)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Status)
							</td>
							<td>
								<form method="post">
									<input type="submit" value="Activate" asp-route-id=@item.ID asp-page-handler="activate" />
								</form>
							</td>
							<td>
								<form method="post">
									<input type="submit" value="Delete" asp-route-id=@item.ID  asp-page-handler="delete" />
								</form>
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
	
	</div>
