@page
@model AppDomainProject.UserPersonalInformationModel
@{
    ViewData["Title"] = "UserPersonalInformation";
}

@*<h1>User Personal Information</h1>*@
    <div class="text-left">
        <img src="~/Images/Logo.PNG" style="margin:0 auto; width:25%;" />
    </div>

<div class="text-center">
    <h1 class="display-4">Input Personal Information</h1>
    <form method="post">
        <!----div asp-validation-summary="All"></!--div-->
        <div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="control-label" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="control-label"></label>
            <input asp-for="FirstName" class="control-label" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="control-label" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DOB" class="control-label"></label>
            <input asp-for="DOB" class="control-label" />
            <span asp-validation-for="DOB" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="control-label" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="control-label" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="control-label" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button asp-page-handler="Send" class="btn btn-primary">Send</button>
        </div>
    </form>
</div>

